<div class="card ">
    <div class="card-body">
        <form class="form-horizontal"
            autocomplete="off"
            [formGroup]="faqForm"
            (ngSubmit)="create()" >
            <div class="form-body">
                <h3 class="box-title">Crear Faq</h3>
                <hr class="m-t-0 m-b-40">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="control-label text-right col-md-3">Pregunta</label>
                            <div class="col-md-9">
                                <input formControlName="question" type="text" class="form-control" placeholder=""></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <editor
                        apiKey="iv5mw3z3s6q77mpt0kf8vmps0wjjjv7ufz63jchu8t0dndj5"
                        plugins="wordcount"
                        formControlName="answer"
                        ></editor>
                    </div>
                </div>
            </div>
            <hr>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-6"> 
                        <div class="row">
                            <button type="submit" class="btn btn-success" style="width: 44%;margin-right: 20px;">Guardar</button>
                            <button type="button" class="btn btn-inverse" style="width: 44%;">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>