<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<section id="wrapper" class="login-register login-sidebar" style="background-image:url(../assets/images/background/login-register.jpg);">
    <div class="login-box card" style="left: 0;right: 100%;">
        <div class="card-body">
            <form class="form-horizontal form-material" 
                    autocomplete="off"
                    [formGroup]="loginForm"
                    (ngSubmit)="login()"
                    id="loginform" style="margin-top: 40%;">

                <a href="javascript:void(0)" class="text-center db" style="color: #333;">
                    <img src="../assets/img/logo-freebags.png" alt="Home" style="width: 100%;" /><br/><br/>
                    <strong>ADMINISTRADOR</strong>
                </a>
                <div class="form-group m-t-40">
                    <div class="col-xs-12">
                        <input class="form-control" 
                                type="email" 
                                placeholder="Email"
                                formControlName="email">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" 
                                type="password"
                                placeholder="Contraseña"
                                formControlName="password">
                    </div>
                </div>
                <div class="form-group row" >
                    <div class="col-md-12">
                        <div class="checkbox checkbox-primary pull-left p-t-0">
                            <input id="checkbox-signup" 
                                    type="checkbox" 
                                    class="filled-in chk-col-light-blue"
                                    formControlName="remember">
                            <label for="checkbox-signup"> Recuerdame </label>
                        </div>
                        <!--a href="javascript:void(0)" id="to-recover" class="text-dark pull-right"><i class="fa fa-lock m-r-5"></i> Resetear Password?</a--> </div>
                </div>
                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <button class="btn btn-info btn-lg btn-block text-uppercase btn-rounded" type="submit">Acceder</button>
                    </div>
                </div>
                <div class="row" style="display: none;">
                    <div class="col-xs-12 col-sm-12 col-md-12 m-t-10 mb-4 text-center" id="google-btn">
                        
                        <div id="my-signin2"></div>

                    </div>
                </div>
                <div class="form-group m-b-0" style="display: none;">
                    <div class="col-sm-12 text-center">
                        Don't have an account? <a routerLink="/register" class="text-primary m-l-5"><b>Sign Up</b></a>
                    </div>
                </div>
            </form>
            <form class="form-horizontal" id="recoverform" action="index.html" style="display: none;">
                <div class="form-group ">
                    <div class="col-xs-12">
                        <h3>Recover Password</h3>
                        <p class="text-muted">Enter your Email and instructions will be sent to you! </p>
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-xs-12">
                        <input class="form-control" type="text" required="" placeholder="Email">
                    </div>
                </div>
                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <button class="btn btn-primary btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Reset</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->