<div class="col-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">
                Listado de Servicios
                <button [routerLink]="'/servicios/crear'" class="btn btn-primary pull-right">
                    <i class="mdi mdi-plus"></i>
                    Crear Servicio
                </button>
            </h4>
           <br>
           <div class="row animated fadeIn fast">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            
                            <input type="text"
                                    class="form-control"
                                    placeholder="Buscar Servicio..."
                                    (keyup)="buscar( txtTermino.value )"
                                    #txtTermino/>
            
                        </div>
                    </div>
                </div>
            </div> 
            <div class="row animated fadeIn fast" *ngIf="!cargando">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Total de servicios ({{ totalServicios }})</h4>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Img</th>
                                        <th>Nombre</th>
                                      
                                        <th>Valor</th>
                                        <th>Tipo</th>
                                        <th>Estado</th>
                                        <th class="text-nowrap">#</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let s of services">
                                        <td class="text-center">
                                            <img [src]="base_url + '/upload/services/'+s.img" 
                                                    class="avatar cursor"
                                                   >
                                        </td>
                                        <td>{{s.name}}</td>
                                        <td>{{s.value}}</td>
                                        <td>{{s.type}}</td>
                                        <td>{{s.status == 1 ? "Activo" : "Inactivo" }}</td>
                                        <td class="text-nowrap">
                                            <a [routerLink]="['/servicios/editar/', s.uid]" data-toggle="tooltip" data-original-title="Edit"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                            <a  data-toggle="tooltip" (click)="delete(s)" data-original-title="Close"> <i class="fa fa-close text-danger"></i> </a>
                                        </td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>