<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                
                <input type="text"
                        class="form-control"
                        placeholder="Buscar agente..."
                        (keyup)="buscar( txtTermino.value )"
                        #txtTermino/>

            </div>
        </div>
    </div>
</div> 

<div class="row animated fadeIn fast"
     *ngIf="cargando">
    <div class="col-12">
        
        <div class="alert alert-info text-center">
          <h4 class="alert-heading">Cargando</h4>
          <i class="fa fa-spin fa-refresh fa-2x"></i>
          <p class="mb-0">Por favor espere</p>
        </div>

    </div>
</div> 


<div class="row animated fadeIn fast" 
    *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                    Total de agentes ({{ totalUsuarios }})
                    <button [routerLink]="'/agentes/crear'" class="btn btn-primary pull-right">
                        <i class="mdi mdi-plus"></i>
                        Crear Agentes
                    </button>
                </h4>
                <h6 class="card-subtitle">Agentes registrados en mi aplicación</h6>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="w100">Img</th>
                                <th>Nombre</th>
                                <th>Correo</th>
                                <th class="text-nowrap w100">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let usuario of usuarios">
                                <td class="text-center">
                                    <img [src]="usuario.imagenUrl" 
                                            alt="Avatar de usuario"
                                            class="avatar cursor"
                                            (click)="abrirModal(usuario)">
                                </td>
                                <td>{{ usuario.name }}</td>
                                <td>{{ usuario.email }}</td>

                                <td class="text-nowrap text-center">     
                                    <a [routerLink]="['/agentes/editar/', usuario.uid]" data-toggle="tooltip" data-original-title="Edit"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>

                                    <a data-toggle="tooltip" 
                                        data-original-title="Borrar"
                                        class="cursor"
                                        (click)="eliminarUsuario(usuario)">
                                        <i class="fa fa-close text-danger"></i> 
                                    </a>
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>

                <div class="pull-right" *ngIf="txtTermino.value.length === 0">
                    <button (click)="cambiarPagina(-5)" class="btn btn-secondary">Anteriores</button>
                    &nbsp;
                    <button (click)="cambiarPagina(5)" class="btn btn-secondary">Siguientes</button>
                </div>

            </div>
        </div>
    </div>
</div>