<div class="card ">
    <div class="card-body">
        <form class="form-horizontal"
            autocomplete="off"
            [formGroup]="servicioForm"
            (ngSubmit)="edit()"
        >
            <div class="form-body">
                <h3 class="box-title">Editar Servicio</h3>
                <hr class="m-t-0 m-b-40">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label text-right col-md-3">Imagen Servicio</label>
                            <div class="col-md-9">
                                <div class="text-center">
                                    
                                    <img *ngIf="imgTemp" [src]="imgTemp" class="img-avatar">
                                </div>
                                <input type="file" (change)="cambiarImagen($event.target.files[0])">
                            </div>
                             
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label text-right col-md-3">Nombre</label>
                            <div class="col-md-9">
                                <input formControlName="name" type="text" class="form-control" placeholder="" [(ngModel)]="service.name"></div>
                             
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label text-right col-md-3">Valor $:</label>
                            <div class="col-md-9">
                                <input formControlName="value" type="number" class="form-control" placeholder="60000" [(ngModel)]="service.value">
                                <small class="form-control-feedback"> Solo Numeros</small> </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label text-right col-md-3">Tipo</label>
                            <div class="col-md-9">
                                <select [(ngModel)]="service.type" formControlName="type" class="form-control custom-select">
                                    <option value="1">Servicio Especial</option>
                                    
                                    <option value="3">Servicio Vip</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label text-right col-md-3">Estado</label>
                            <div class="col-md-9">
                                <select [(ngModel)]="service.status" formControlName="status" class="form-control custom-select">
                                    <option value="1">Activo</option>
                                    <option value="2">Inactivo</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->
                <div class="row">
                    <div class="col-12">
                        <editor
                        apiKey="iv5mw3z3s6q77mpt0kf8vmps0wjjjv7ufz63jchu8t0dndj5"
                        plugins="wordcount"
                        formControlName="description"
                        [(ngModel)]="service.description"
                        ></editor>
                    </div>
                </div>
               
                
            </div>
            <hr>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-6"> 
                        <div class="row">
                            <button type="submit" class="btn btn-success" style="width: 44%;margin-right: 20px;">Guardar</button>
                            <button type="button" class="btn btn-inverse" style="width: 44%;">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>