<div class="row">
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <div class="m-r-20 align-self-center"><img src="../assets/images/icon/income.png" alt="Income" /></div>
                    <div class="align-self-center">
                        <h6 class="text-muted m-t-10 m-b-0">Total Ventas</h6>
                        <h2 class="m-t-0">$0</h2></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <div class="m-r-20 align-self-center"><img src="../assets/images/icon/expense.png" alt="Income" /></div>
                    <div class="align-self-center">
                        <h6 class="text-muted m-t-10 m-b-0">Servicios Activo</h6>
                        <h2 class="m-t-0">0</h2></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <div class="m-r-20 align-self-center"><img src="../assets/images/icon/assets.png" alt="Income" /></div>
                    <div class="align-self-center">
                        <h6 class="text-muted m-t-10 m-b-0">Servicios Pendiente</h6>
                        <h2 class="m-t-0">0</h2></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <div class="m-r-20 align-self-center"><img src="../assets/images/icon/staff.png" alt="Income" /></div>
                    <div class="align-self-center">
                        <h6 class="text-muted m-t-10 m-b-0">Total Clientes</h6>
                        <h2 class="m-t-0">{{totalUsuarios}}</h2></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <div>
                        <h4 class="card-title"><span class="lstick"></span>Servicios Proximos</h4></div>
                        <div class="ml-auto">
                            <select class="custom-select b-0">
                                <option selected="">Julio</option>
                                <option value="1">Agosto</option>
                                <option value="2">Septiembre</option>
                                <option value="3">Octubre</option>
                            </select>
                        </div>
                </div>
                <div class="table-responsive m-t-20">
                    <table class="table vm no-th-brd pro-of-month">
                        <thead>
                            <tr>
                                <th colspan="2">Cliente</th>
                                <th>Servicio</th>
                                <th>Agente</th>
                                <th>Estado</th>
                                <th>#</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="width:50px;"><span class="round"><img src="../assets/images/users/1.jpg" alt="user" width="50"></span></td>
                                <td>
                                    <h6>Sunil Joshi</h6>
                                    <small class="text-muted">Pasaporte: 56322981</small>
                                </td>
                                <td>Servicio Vip</td>
                                <td>Elite Admin</td>
                                <td>
                                    <a href="">
                                        <span class="label label-success label-rounded">En Curso</span>

                                    </a>
                                </td>
                                <td>
                                    <a data-toggle="tooltip" data-original-title="Mas info"> <i class="fa fa-info text-inverse m-r-10"></i> </a>
                                </td>
                            </tr>
                            <tr class="active">
                                <td>
                                    <span class="round">
                                        <img src="../assets/images/users/2.jpg" alt="user" width="50">
                                    </span>
                                </td>
                                <td>
                                    <h6>Andrew</h6>
                                    <small class="text-muted">Pasaporte: 56322981</small>
                                </td>
                                <td>Servicio Vip</td>
                                <td>Real Homes</td>
                                <td>
                                    <a href="">

                                        <span class="label label-info label-rounded">Pendiente</span>
                                    </a>
                                </td>
                                <td>
                                    <a data-toggle="tooltip" data-original-title="Mas info"> <i class="fa fa-info text-inverse m-r-10"></i> </a>
                                </td>
                            </tr>
                           
                            <tr>
                                <td><span class="round round-primary"><img src="../assets/images/users/4.jpg" alt="user" width="50"></span></td>
                                <td>
                                    <h6>Nirav Joshi</h6><small class="text-muted">Pasaporte: 56322981</small></td>
                                <td>Elite Admin</td>
                                <td>Servicio Vip</td>
                                <td>
                                    <a href="">
                                        <span class="label label-danger label-rounded">Cancelado</span>
                                    </a>
                                    
                                </td>
                                <td>
                                    <a data-toggle="tooltip" data-original-title="Mas info"> <i class="fa fa-info text-inverse m-r-10"></i> </a>
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

