<div class="card ">
    <div class="card-body">
        <form class="form-horizontal"
            autocomplete="off"
            [formGroup]="usuarioForm"
            (ngSubmit)="create()"
        >
        <input formControlName="type" type="hidden" class="form-control" value="1">
            <div class="form-body">
                <h3 class="box-title">Crear Usuario</h3>
                <hr class="m-t-0 m-b-40">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="control-label text-right col-md-3">Imagen Usuario</label>
                            <div class="col-md-9">
                                <div class="text-center">
                                    <img *ngIf="imgTemp" [src]="imgTemp" class="img-avatar">
                                </div>
                                <input type="file" (change)="cambiarImagen($event.target.files[0])">
                            </div>
                             
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label text-right col-md-3">Nombre</label>
                            <div class="col-md-9">
                                <input formControlName="name" type="text" class="form-control" placeholder=""></div>
                             
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label text-right col-md-3">Email</label>
                            <div class="col-md-9">
                                <input formControlName="email" type="email" class="form-control" placeholder="">
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label text-right col-md-3">Password</label>
                            <div class="col-md-9">
                                <input formControlName="password" type="password" class="form-control" placeholder="">
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label text-right col-md-3">Estado</label>
                            <div class="col-md-9">
                                <select formControlName="status" class="form-control custom-select">
                                    <option value="1">Activo</option>
                                    <option value="2">Inactivo</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->
            </div>
            <hr>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-6">
                        
                    </div>
                    <div class="col-md-6"> 
                        <div class="row">
                            <button type="submit" class="btn btn-success" style="width: 44%;margin-right: 20px;">Guardar</button>
                            <button type="button" class="btn btn-inverse" style="width: 44%;">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>