<div class="col-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">
                Listado de Faq
                <button [routerLink]="'/faqs/crear'" class="btn btn-primary pull-right">
                    <i class="mdi mdi-plus"></i>
                    Crear Faq
                </button>
            </h4>
           <br>
           <div class="row animated fadeIn fast">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            
                            <input type="text"
                                    class="form-control"
                                    placeholder="Buscar Faq..."
                                    (keyup)="buscar( txtTermino.value )"
                                    #txtTermino/>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="row animated fadeIn fast" *ngIf="!cargando">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Total de Faq ({{ totalFaq }})</h4>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Pregunta</th>
                                        <th>Respuesta</th>
                                        <th class="text-nowrap">#</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let s of faqs">
                                        <td>{{s.question}}</td>
                                        <td [innerHTML]="s.answer | slice:0:150"></td>
                                        <td class="text-nowrap">
                                            <a [routerLink]="['/faqs/editar/', s.uid]" data-toggle="tooltip" data-original-title="Edit"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                            <a  data-toggle="tooltip" (click)="delete(s)" data-original-title="Close"> <i class="fa fa-close text-danger"></i> </a>
                                        </td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>